<p-toast [style]="{ marginTop: '80px' }" position="bottom-center"></p-toast>
<div class="all-container offer-list animated fadeIn pt-0">
  <div class="col-md-12 top-section d-flex justify-content-between">
    <div class="display-f my-auto d-flex"><i class="fas fa-users my-auto"></i>&nbsp;&nbsp;</div>
    <div class="ui-g-6 ui-md-2 my-auto d-flex">
      <button
        pButton
        class="ui-button-raised ui-button-success w-100"
        (click)="prepareForCreateModel(null)"
        icon="fa fa-plus"
        label="Create User"
      ></button>
    </div>
  </div>
  <p-table [columns]="cols" [value]="users" [responsive]="true">
    <ng-template pTemplate="caption"> </ng-template>
    <ng-template pTemplate="header" let-rowData let-columns>
      <tr class="sticky-header sizes">
        <th *ngFor="let col of columns" [ngStyle]="{ width: col.width }">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr class="clickable">
        <td class="col-data" *ngFor="let col of columns">
          <span class="ui-column-title">{{ col.header }}</span>
          <b *ngIf="col.field != 'actions'">
            {{ rowData[col.field] }}
          </b>
          <b class="text-primary text-center" *ngIf="col.field == 'actions'">
            <a
              (click)="openWarning(rowData.id)"
              href="javascript:"
              class="pi pi-trash text-danger text-decoration-none"
            ></a>
            <a
              (click)="prepareForCreateModel(rowData.id)"
              href="javascript:"
              class="pi pi-pencil text-warning text-decoration-none"
            ></a>
            <a
              (click)="prepareForViewModel(rowData.id)"
              href="javascript:"
              class="pi pi-eye text-primary text-decoration-none"
            ></a>
          </b>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- CREATE USER -->
<div *ngIf="isCreateModalActive">
  <app-create-user [id]="updateUserId" (output)="getOutputFromCreateModal($event)"> </app-create-user>
</div>

<!-- VIEW USER -->
<div *ngIf="isOpenModalActive">
  <app-view-user [id]="this.viewUserId" (output)="this.isOpenModalActive = false"> </app-view-user>
</div>

<!------------------------- CANCEL ORDER WARNING MODAL ----------------------------->
<p-toast position="center" key="c" (onClose)="onReject()" [modal]="isDeleteModalActive" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{ message.summary }}</h3>
      <p>{{ message.detail }}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
