#create-user ::ng-deep .ui-sidebar-full {
  width: 60%;
  left: 20%;
  height: 82%;
  top: 10%;
}

#create-user ::ng-deep .ui-sidebar .ui-sidebar-close {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 2rem !important;
}
#create-user::ng-deep .ui-sidebar-full::-webkit-scrollbar {
  width: 0.5em !important;
}
#create-user::ng-deep .ui-sidebar-full::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#create-user::ng-deep .ui-sidebar-full::-webkit-scrollbar-thumb {
  background-color: #5b8cad;
  cursor: pointer;
  outline: 1px solid slategrey;
}

#create-user .title {
  border-bottom: 1px solid #008cde;
}

#create-user .title h3 {
  margin-bottom: 0px;
}

.section-title {
  border-left: 3px solid #83ff4a9c;
  border-radius: 2px;
  margin-bottom: 0px;
}

.btn-instagram {
  background-color: #3a6ace;
  border-radius: 3px;
}
#create-user ::ng-deep .ui-dropdown-label-container {
  width: 100%;
}
.txt-r {
  text-align: right;
}
@media only screen and (max-width: 768px) {
  #create-user ::ng-deep .ui-sidebar-full {
    width: 100% !important;
    left: 0% !important;
    height: 100% !important;
    top: 0% !important;
  }
  .table-responsive {
    font-size: 11px;
  }
  .txt-r {
    text-align: left;
  }
}
