<div id="create-user">
  <p-sidebar [(visible)]="visibility" [fullScreen]="true" [modal]="false"
     (onHide)="dialogClosed(-1)">
    <div  class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid text-sizes">
      <form [formGroup]="postForm">
        <div class="ui-g px-3 s-row title">
          <div class="ui-g-12 border-0">
            <h3 *ngIf="!id"class="text-primary">Create User</h3>
            <h3 *ngIf="id"class="text-primary">Update User</h3>
          </div>
        </div>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <!------------------------ CUSTOMER INFO ------------------------>
          <div class="ui-grid-row row-s">
            <div class="ui-grid-col-2 i-label">
              Username :
            </div>
            <!------------------------ Username ------------------------>
            <div class="ui-grid-col-4">
              <input  pInputText type="text" class="w-100"
                [formControlName]="'username'" [(ngModel)]="user.username" placeholder="Required" />
                <p-message severity="error"
                text="Username is required"
                *ngIf="!postForm.controls['username'].valid&&postForm.controls['username'].dirty">
              </p-message>
            </div>
            <div class="ui-grid-col-2 i-label txt-r">
              Email <span class="require-size">:</span>
            </div>
            <!------------------------ Email------------------------>
            <div class="ui-grid-col-4">
              <input pInputText type="text" formControlName="email" [(ngModel)]="user.email"
                placeholder="Email" class="w-100" />
                <p-message severity="error"
                text="Email is required"
                *ngIf="!postForm.controls['email'].valid&&postForm.controls['email'].dirty">
              </p-message>
            </div>
          </div>


          <div class="ui-grid-row row-s">
            <div class="ui-grid-col-2 i-label">
              Firstname
            </div>
            <!------------------------ Firstname ------------------------>
            <div class="ui-grid-col-4">
              <input  pInputText type="text" class="w-100"
                [formControlName]="'firstname'" [(ngModel)]="user.firstname" placeholder="Firstname" />
            </div>
            <div class="ui-grid-col-2 i-label txt-r">
              Lastname <span class="require-size">:</span>
            </div>
            <!------------------------ Lastname------------------------>
            <div class="ui-grid-col-4">
              <input pInputText type="text" formControlName="lastname" [(ngModel)]="user.lastname"
                placeholder="Lastname" class="w-100" />
            </div>
          </div>


          <div class="ui-grid-row row-s">
            <div class="ui-grid-col-2 i-label">
              Birthdate :
            </div>
            <!------------------------ Birthdate ------------------------>
            <div class="ui-grid-col-4">
              <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="birthdate" [(ngModel)]="user.birthdate"
              placeholder="Birthdate" dateFormat="dd.mm.yy"
              yearRange="1900:2030">
            </p-calendar>
            </div>
            <div class="ui-grid-col-2 i-label txt-r">
              Image Url <span class="require-size">:</span>
            </div>
            <!------------------------ Image Url------------------------>
            <div class="ui-grid-col-4">
              <input pInputText type="text" formControlName="imgurl" [(ngModel)]="user.imgurl"
                placeholder="Image Url" class="w-100" />
            </div>
          </div>

          <div class="ui-grid-row row-s">
            <div class="ui-grid-col-2 i-label">
              Description <span class="require-size">:</span>
            </div>
            <div class="ui-grid-col-10">
              <textarea pInputTextarea type="text" formControlName="description" [(ngModel)]="user.description"
                placeholder="Optional"></textarea>
            </div>
          </div>
          <!-----------------------SUBMIT BUTTON--------------------------->
          <div class="ui-grid-row row-s pb-0">
            <div class="ui-grid-col-9"></div>
            <div class="ui-grid-col-3 mt-2 mb-2">
              <button class="btn btn-sm btn-primary shadow w-100" (click)="save()"
                [disabled]="!postForm.valid || loadingSpinner"> Save
                &nbsp;&nbsp;
                <span *ngIf="loadingSpinner" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </p-sidebar>
</div>



<p-blockUI [blocked]="loadingSpinner" [baseZIndex]="99999">
  <div class="ui-g-12" style="display: flex; justify-content: center; margin-top: 40vh;">
    <span class="spinner-grow text-white" style="width: 5rem; height: 5rem;"></span> </div>
</p-blockUI>
