#customer-view ::ng-deep .ui-sidebar-full {
  width: 60%;
  left: 20%;
  height: 70%;
  top: 15%;
}

#customer-view ::ng-deep .ui-sidebar .ui-sidebar-close {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 2rem !important;
}
#customer-view::ng-deep .ui-sidebar-full::-webkit-scrollbar {
  width: 0.5em !important;
}
#customer-view::ng-deep .ui-sidebar-full::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#customer-view::ng-deep .ui-sidebar-full::-webkit-scrollbar-thumb {
  background-color: #5b8cad;
  cursor: pointer;
  outline: 1px solid slategrey;
}

#customer-view .title {
  border-bottom: 1px solid #008cde;
}

#customer-view .title h3 {
  margin-bottom: 0px;
}

#customer-view .footer {
  position: absolute;
  bottom: 3px;
  right: 20px;
  color: grey;
  width: 100%;
  font-weight: 500 !important;
}

.section-title {
  border-left: 3px solid #83ff4a9c;
  border-radius: 2px;
  margin-bottom: 0px;
}

#customer-view .badge {
  margin-left: auto;
  margin-right: 3%;
  font-size: 11px;
  line-height: 1.5;
  height: 22px;
  background: #147edfbf;
}
.progress-part {
  text-align: center;
  padding: 0.6em 1em !important;
  min-width: 120px;
  margin-right: 5px !important;
  display: inline-grid;
  background: #ffffff;
  border: 1px solid #dadada !important;
  box-shadow: 0px 0px 4px -2px #636363;
}

.progress-part span {
  font-size: 14px;
  font-weight: 600;
  color: #353c4a;
  text-align: left;
  margin-bottom: 7px;
}
.text-sizes span {
  font-size: 16px;
  font-weight: 600;
}

.s-row {
  background: #f3f3f325;
  padding: 0.5rem 3rem;
}

.s-row .d-flex {
  border-bottom: 1px solid #f3f3f3;
}

.txt-r {
  text-align: right;
}
@media only screen and (max-width: 768px) {
  #customer-view ::ng-deep .ui-sidebar-full {
    width: 100% !important;
    left: 0% !important;
    height: 100% !important;
    top: 0% !important;
  }
  #customer-view h5 {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  #customer-view .text-sizes span {
    font-size: 13px;
    font-weight: 600;
  }
  #customer-view .badge {
    display: none;
  }
  .s-row {
    padding: 0.5rem 1em;
  }
}
