<div id="customer-view">
  <p-sidebar [(visible)]="visiblity && !loadingPage" [fullScreen]="true" [modal]="false" (onHide)="dialogClosed()">
    <div *ngIf="!loadingPage" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid text-sizes">
      <div class="ui-g s-row title">
        <div class="ui-g-12 border-0">
          <h3 class="text-primary">User Details</h3>
        </div>
      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid text-sizes" style="margin: 10px 0px">
        <div class="ui-g s-row">
          <div class="ui-g-12 ui-md-6 d-flex">
            <h5>Id:</h5>&nbsp;&nbsp;
            <span>{{viewData.id}}</span>
          </div>
        </div>
        <div class="ui-g s-row">
          <div class="ui-g-12 ui-md-6 d-flex">
            <h5>Username:</h5>&nbsp;&nbsp;
            <span>{{viewData.username}}</span>
          </div>
          <div class="ui-g-12 ui-md-6 d-flex">
            <h5>Email:</h5>&nbsp;&nbsp;
            <span>{{viewData.email}}</span>
          </div>
        </div>
        <div class="ui-g s-row">
          <div class="ui-g-12 ui-md-6 d-flex">
            <h5>Firstname:</h5>&nbsp;&nbsp;
            <span>{{viewData.firstname}}</span>
          </div>
          <div class="ui-g-12 ui-md-6 d-flex">
            <h5>Lastname:</h5>&nbsp;&nbsp;
            <span> {{viewData.lastname}}</span>
          </div>
        </div>

        <div class="ui-g s-row">
          <div class="ui-g-12 ui-md-6 d-flex">
            <h5>Birthdate:</h5>&nbsp;&nbsp;
            <span>{{viewData.birthdate}}</span>
          </div>
          <div class="ui-g-12 ui-md-6 d-flex">
            <h5>Image Url:</h5>&nbsp;&nbsp;
            <span> {{viewData.imgurl}}</span>
          </div>
        </div>
          <div class="ui-g s-row">
            <div class="ui-g-12 ui-md-12 d-flex">
              <h5>Description:</h5>&nbsp;&nbsp;
              <span> {{viewData.description}}</span>
            </div>
          </div>
      </div>
    </div>
  </p-sidebar>
</div>

<p-blockUI [blocked]="loadingPage" [baseZIndex]="99999">
  <div class="ui-g-12" style="display: flex; justify-content: center; margin-top: 40vh;">
    <span class="spinner-grow text-white" style="width: 5rem; height: 5rem;"></span> </div>
</p-blockUI>
